<%- include('../partials/nav') %>
    <h1>Trip to <%=trip.city%>, <%=trip.country%></h1>

    <div class="trip-info">
    <h3>Current weather of <%=trip.city%>: <%=Math.ceil(weather.main.temp)%>°C</h2>
    <h3>feels like: <%=Math.ceil(weather.main.feels_like)%>°C</h2>
    <h4>From:  <%if(trip.form){%><%=trip.from.toISOString().split("T")[0]%><%}%></h3> 
    <h4>to: <%if(trip.form){%><%=trip.to.toISOString().split("T")[0]%><%}%></h3>
    <h4>Budget: <%=trip.budget%></h3>
    <h4>status: <%=trip.status%></h3>
    </div>
    <form action="/trips/<%=trip._id%>/currency">
        <p>Need to check the exchange rate before adding a note?</p>
        <button type="submit">Open Currency Converter</button>
    </form>

    <section class="notes">
        <h2>Notes</h2>
        <form action="/trips/<%=trip._id%>/notes" method="POST">
            <textarea name="text" rows="4" required></textarea>
            <button type="submit">Add a note</button>
        </form>
        <%trip.notes.forEach((item) => {%>
            <div id="notes">
                <p><%=item.author.username%>: <%=item.text%></p><input type="checkbox">
                <form action="/trips/<%=trip._id%>/notes/<%=item._id%>?_method=DELETE" method="POST">
                <button type="submit">delete note</button></form>
            </div> 
        <%})%>
    </section>
    <%if (trip.owner.equals(user._id)){%>
    <section class="buttons">
    <form action="/trips/<%=trip._id%>?_method=DELETE" method="POST">
        <button type="submit">delete</button>
    </form>
    
    <form action="/trips/<%=trip._id%>/edit">
        <button type="submit">Edit</button>
    </form>
    </section> 
     <%}%>  
 
    
</body>
</html>