<%- include('../partials/nav') %>

    <h1>Trip to <%=trip.city%>, <%=trip.country%></h1>
    <h2>Current weather of <%=trip.city%>, <%=trip.country%>: <%=weather.main.temp%>°C</h2>
    <h2>feels like: <%=weather.main.feels_like%>°C</h2>
    <h3>From:  <%if(trip.form){%><%=trip.from.toISOString().split("T")[0]%><%}%></h3> 
    <h3>to: <%if(trip.form){%><%=trip.to.toISOString().split("T")[0]%><%}%></h3>
    <h3>Budget: <%=trip.budget%></h3>
    <h3>status: <%=trip.status%></h3>
    <form action="/trips/<%=trip._id%>/currency">
        <p>Need to check the exchange rate before adding a note?</p>
        <button type="submit">Open Currency Converter</button>
    </form>

    <section>
        <h2>Notes</h2>
        <form action="/trips/<%=trip._id%>/notes" method="POST">
            <textarea name="text" rows="4" required></textarea>
            <button type="submit">Add a note</button>
        </form>
        <%trip.notes.forEach((item) => {%>
            <p><%=item.author.username%>: <%=item.text%></p><input type="checkbox">
        <%})%>
    </section>

    <form action="/trips/<%=trip._id%>?_method=DELETE" method="POST">
        <button type="submit">delete</button>
    </form>

    <form action="/trips/<%=trip._id%>/edit">
        <button type="submit">Edit</button>
    </form>
    
        
       
 
    
</body>
</html>